header.header {
	font-size: 2.25rem;
	font-weight: 600;

	color: var(--blue);

	margin-bottom: 1rem;
}

.pictureContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	/* NOT AVAILABLE SECTION -> REMOVE LATER */
	opacity: 0.4;
}

.pictureContainer > strong {
	font-size: 1.5rem;
	font-weight: 600;

	margin-bottom: 0.75rem;
}

.pictureContainer > img {
	width: 10rem;

	border-radius: 50%;

	margin-bottom: 1.5rem;

	/* NOT AVAILABLE SECTION -> REMOVE LATER */
	/* cursor: pointer; */
	cursor: default;
}

/* NOT AVAILABLE SECTION -> REMOVE LATER */

.wrapper {
	position: relative;
	margin: 0.2rem;
}

.notAvailableOverlay {
	opacity: 0.3;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: -0.25rem;

	border-radius: 5px;
	background: repeating-linear-gradient(
		45deg,
		var(--gray-line),
		var(--gray-line) 20px,
		var(--text) 20px,
		var(--text) 40px
	);
}

.nameContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 1.5rem;
}

.nameContainer > strong {
	font-size: 1.5rem;
	font-weight: 600;

	margin-bottom: 0.75rem;
}

.nameContainer > input {
	width: 100%;
	font-size: 1.3rem;

	border-radius: 20px;
	padding: 0.5rem 1rem;

	border: none;
	background: var(--gray-line);
	box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.25);

	margin-bottom: 1.8rem;
}

.saveBtn {
	font-size: 1.3rem;
	font-weight: 500;

	background: var(--blue);
	color: var(--background);
	border-radius: 5px;

	min-width: 55px;
	border: none;

	padding: 0.35rem 0.75rem;

	transition: all 0.1s linear;
}

.saveBtn:hover {
	background: var(--dark-blue);
}
