.container {
	flex: 1;

	display: grid;
	grid-template-columns: fit-content(3rem) 1fr;

	height: 100vh;
}

.menuContainer {
	height: 100vh;

	min-width: 6.5rem;

	position: relative;
}

.menuBox {
	display: flex;
	flex-direction: column;

	position: fixed;

	height: 100%;
	min-width: 6.5rem;

	padding: 2rem;

	background: var(--white);
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);

	align-items: center;
}

.menuBox > img {
	width: 4.5rem;

	cursor: pointer;

	position: absolute;

	top: 1.5rem;
}

.links {
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 50vh;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
}

.links > a {
	margin: 1rem 0;

	justify-content: center;
	align-items: center;
	display: flex;

	position: relative;
}

.links > a > img {
	width: 2rem;
}

.activeLink {
	width: 0.25rem;
	height: 120%;
	position: absolute;

	border-radius: 2px;

	background: var(--red);

	right: 0;
}
