@media (max-width: 1080px) {
	.container {
		flex: 1;

		display: grid;
		grid-template-columns: 3rem 1fr;
		gap: 1rem;
	}
}

.container a {
	color: var(--background);

	transition: all 0.1s linear;
}

.container a:hover {
	color: var(--red);
}

.linkContainer {
	width: fit-content;

	margin-bottom: 2rem;
}
