.profileContainer {
	display: flex;
	align-items: center;

	width: fit-content;
}

.profileContainer > img {
	width: 5.5rem;
	height: 5.5rem;
	border-radius: 50%;
}

.profileContainer > div {
	margin-left: 1.5rem;
}

.profileContainer > div > div > strong {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--title);
}

.nameContainer {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.nameContainer > strong {
	margin-right: 2.5rem;
}

.nameContainer > img {
	margin-left: 1.5rem;
	width: 1.2rem;

	opacity: 40%;

	cursor: pointer;

	position: absolute;
	right: 0;

	transition: all 0.1s linear;
}

.nameContainer > img:hover {
	opacity: 80%;
	filter: invert(34%) sepia(36%) saturate(3164%) hue-rotate(324deg)
		brightness(94%) contrast(92%);
}

.profileContainer > div > p {
	font-size: 1rem;
	margin-top: 0.2rem;
}

.levelArrow {
	width: 1rem;
	filter: invert(65%) sepia(25%) saturate(1236%) hue-rotate(63deg)
		brightness(99%) contrast(102%);
	margin-right: 0.5rem;
}
