.container {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	padding: 0 1rem;
}

.container > img {
	width: 15rem;
	height: 15rem;

	margin: 1rem 0 2.6rem;
}

.textContainer {
	text-align: center;

	font-size: 1.3rem;
	line-height: 2.7rem;
}

.textContainer > strong {
	font-size: 1.7rem;

	color: var(--title);
}

.textContainer > p {
	margin-top: 1.5rem;
}

.textContainer > p a {
	font-weight: 500;
	color: var(--title);

	transition: all 0.1s linear;
}

.textContainer > p a:hover {
	color: var(--red);
}
