.container {
	height: 100vh;
	max-width: 992px;
	margin: 0 auto;
	padding: 2.5rem 2rem;

	display: flex;
	flex-direction: column;
}

.container > header {
	display: grid;
	grid-template-columns: 9fr 1fr;
	margin-bottom: 0.8rem;
}

.loginContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginLink {
	font-size: 1.1rem;
	font-weight: 500;

	margin-bottom: 1.5rem;

	transition: all 0.1s linear;

	cursor: pointer;
}

.loginLink:hover {
	color: var(--red);
}

.container > section {
	flex: 1;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6.25rem;
	align-content: center;
}
