.container {
	height: 100vh;
	max-width: 992px;
	margin: 0 auto;
	padding: 2.5rem 2rem;

	display: flex;
	flex-direction: column;
}

.container > header {
	display: grid;
	grid-template-columns: 9fr 1fr;
	margin-bottom: 0.8rem;
}

.loginLink {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.1rem;
	font-weight: 500;

	background: var(--blue);
	color: var(--background);
	border-radius: 5px;

	margin-bottom: 1.5rem;
	margin-left: 1.2rem;
	min-width: 55px;
	border: none;

	padding: 0.35rem 0.5rem;

	transition: all 0.1s linear;
}

.loginLink:hover {
	background: var(--dark-blue);
}

.logoutLink {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.1rem;
	font-weight: 500;

	background: var(--blue);
	color: var(--background);
	border-radius: 5px;

	margin-bottom: 1.5rem;
	margin-left: 1.2rem;
	min-width: 70px;
	border: none;

	padding: 0.35rem 0;

	transition: all 0.1s linear;
}

.logoutLink:hover {
	background: var(--dark-blue);
}

.container > section {
	flex: 1;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6.25rem;
	align-content: center;
}
